@import '../../../scss/variables';
@import '../../../scss/brakepoints';

.navbar-container {
  display: flex;
  padding: 40px;
  align-items: center;
  a {
    font-size: 16px;
    color: $primary-grey;
    margin: 10px;
    padding-top: 10px;
    border-top: 2px solid transparent;
    transition: 0.25s ease;
    @include mobile {
      font-size: 16px;
    }
  }
  a:hover,
  .active {
    color: #ffffff;
    border-color: #ffffff;
  }
  .navigation-login {
    margin-left: auto;
  }
}
