@import '../../scss/variables';

.delete-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: $delete-color;
  transition: 0.5s ease;

  cursor: pointer;
  .trash-bin {
    width: 16px;
    height: 16px;
  }
}

.delete-icon-container:hover {
  opacity: 0.5;
}
