@import '../../scss/variables';

.log-in-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  transition: 0.5s ease;
  cursor: pointer;
  .log-in {
    width: 100%;
    height: 100%;
  }
}

.log-in-icon-container:hover {
  opacity: 0.5;
}
